:root {
    --main-colour: #8A786F;
    --base: #D0C5BE;

    /* Sfumatura più chiara */
    --t-1: #E8DFDA;
    --t-2: #D0C5BE;
    --t-3: #B8A9A1;
    --t-4: #A09189;
    --t-5: #8A786F;
    --t-6: #725E55;
    --t-7: #5A443C;
    /* Sfumatura più scura */

    /* Sfumature più chiare */
    --ct-1: #bfb4a7;
    --ct-2: #b2a495;
    --ct-3: #a59583;
    --ct-4: #998671;
    --ct-5: #8c7760;

    --menu: #BEBEBE;


    --colore-selezione: #B8A9A1;

    /*contrasti */
    --contrasti-base: #C5D0CF;
    --contrasti-1: #3E4754;

    --transizione: .3s;
}

.contenuto {
    margin: 30px 50px 30px 50px;
}

.intro {
    font-weight: 700;
    font-size: 25px;
}

.small-intro {
    font-size: 22px;
}

.evidenzia {
    transition: 0.3s;
    font-weight: 500;
}

.evidenzia:hover {
    font-weight: 900;
}

.evidenzia a {
    transition: 0.3s;
}

.evidenzia a:hover {
    font-size: 23px;
}


.stacca-sopra {
    margin-top: 10px;
}

.caratteristiche {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.big {
    font-size: 20px;
}

.norm-text {
    font-size: 17px;
}

.padding-lati {
    padding: 0 10px 0 10px;
}

.iconaMenu-spiegazione {
    transition: 0.5s;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
}


.iconaMenu-spiegazione:hover {
    transform: rotateZ(180deg);
}

.schiaccia {
    margin-left: 20px;
    margin-right: 20px;
}

/* Lista */
.lista-ordinata {
    list-style: none;
    counter-reset: my-awesome-counter;
}

.lista-ordinata li {
    transition: var(--transizione);
    counter-increment: my-awesome-counter;
}

.lista-ordinata li::before {
    content: counter(my-awesome-counter) "] ";
    color: var(--contrasti-1);
    font-weight: 900;
}

.iconaFiltro-spiegazione {
    font-size: 18px;
    transition: 0.3s;
}

code {
    font-family: monospace;
    font-size: inherit;
}

/* Code in text */
p>code,
li>code,
dd>code,
td>code {
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

.icone-ricerca-data {
    transition: 0.3s;
    font-size: 18px;
}

.icone-ricerca-data:hover {
    font-size: 20px;

}

.margin-contorno {
    margin: 3px;
}