{% comment %} ?
? Schema del contesto, stringhe se non specificato:
! -autore
! -dataInizio
! -dataFine
! -titolo
! -domande (array)
! --testo
! --punteggio (int)
! --risposte (array)
! ---testo
! ---corretta (boolean)
?{% endcomment %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "elementiPrincipali/impostazioni.html" %}

    <link rel="stylesheet" href="{% static 'css/stile-introduzione.css' %}">
    <link rel="stylesheet" href="{% static 'css/stile_info_quiz.css' %}">
    <script src="{% static "js/js_gioco.js" %}"></script>

    <title>Gioca QUIZ</title>

</head>

<body idQuiz='{{idQuiz}}'>
    <div class="container-fluid">

        {% include "elementiPrincipali/header.html" %}
        {% include "elementiPrincipali/navigazione.html" %}


        {% comment %} ! INFO QUIZ {% endcomment %}
        <div class="row align-items-center mt-2">
            <div class="col-12 col-sm-4 ">
                <div class="row">
                    <div class="col-12 col-sm-12 order-3 order-sm-1"><i class="fa-regular fa-user"></i> {{ autore }}
                    </div>
                    <div class="col-6 col-sm-12 order-1 order-sm-2"><i class="fa-regular fa-calendar-xmark"></i>
                        {{dataInizio}}</div>
                    <div class="col-6 col-sm-12 order-2 order-sm-3"><i class="fa-regular fa-calendar-xmark"></i>
                        {{dataFine}}</div>
                </div>
            </div>
            <div class="col-12 col-sm-4 text-center titolo_quiz">
                {{ titolo }}
            </div>
            <div class="col-12 col-sm-4 ml-2 d-flex justify-content-center">
                <a class="s_text" tabindex="-1" href="gioca">
                    <div class="pulsante d-inline-block">
                        Cambia QUIZ
                    </div>
                </a>
                
            </div>
        </div>

        {% comment %} ! QUIZ {% endcomment %}
        <div class="row d-flex justify-content-center">
            <div class="col-11 col-md-10 m-2 mt-5 caratteristiche">
                {% for domanda in domande %}
                <div class='row mb-3 mt-3 domanda_risposte' domanda_numero = "{{domanda.numero}}">
                    <div class="col-8">
                        {{ forloop.counter }}) {{ domanda.testo }}
                    </div>
                    <div class="col d-flex justify-content-end punteggio">
                        [{{ domanda.punteggio }} pt.]
                    </div>
                    {% for risposta in domanda.risposte %}
                    <div class="row m-2 mt-3 mb-3" id="risposta_quiz" risposta_numero="{{risposta.numero}}">
                        <div class="col">
                            <span id='opzione'><i class="fa-regular fa-circle"
                                    onclick="seleziona_risposta(this)"></i></span><span class="p-2">{{ risposta.testo }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="row mb-2 mt-5 d-flex justify-content-center">
                    <div class="col-4 ml-2 d-flex justify-content-center">
                        <a href="gioca">
                            <div class="pulsante d-inline-block pulsante_hover">
                                Cambia QUIZ
                            </div>
                        </a>
                    </div>
                    <div class="col-4 ml-2 d-flex justify-content-center">
                        <div class="pulsante d-inline-block pulsante_hover" id="pulsane_invia" onclick="verifica_quiz()">
                            Invia
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include "elementiPrincipali/footer.html" %}
    </div>


</body>

</html>