{% comment %} ?
? Schema del contesto, stringhe se non specificato:
! -autore
! -dataInizio
! -dataFine
! -titolo
! -domande (array)
! --testo
! --punteggio (int)
! --risposte (array)
! ---testo
! ---corretta (boolean)
?{% endcomment %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "elementiPrincipali/impostazioni.html" %}

    <link rel="stylesheet" href="{% static 'css/stile-introduzione.css' %}">
    <link rel="stylesheet" href="{% static 'css/stile_info_quiz.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <script src="{% static " js/js_gioco.js" %}"></script>

    <title>Gioca QUIZ</title>

</head>

<body>
    <div class="container-fluid">

        {% include "elementiPrincipali/header.html" %}
        {% include "elementiPrincipali/navigazione.html" %}


        {% comment %} ! INFO QUIZ {% endcomment %}
        <div class="row align-items-center mt-2">
            <div class="col-4 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12"><i class="fa-regular fa-user"></i> {{ autore }}</div>
                    <div class="col-12"><i class="fa-regular fa-calendar-xmark"></i> {{ dataInizio }}</div>
                    <div class="col-12"><i class="fa-regular fa-calendar-xmark"></i> {{ dataFine }}</div>
                </div>
            </div>
            <div class="col-4 text-center titolo_quiz">
                {{ titolo }}
            </div>
            <div class="col-4 ml-2 d-flex justify-content-center">
                <div class="pulsante d-inline-block" onclick="gioca_quiz()">
                    Cambia QUIZ
                </div>
            </div>
        </div>

        {% comment %} ! QUIZ {% endcomment %}
        <div class="row d-flex justify-content-center">
            <div class="col-11 col-md-10 m-2 mt-5 caratteristiche">
                {% for domanda in domande %}
                <div class='row mb-3 mt-3' id="domanda_risposte">
                    <div class="col-10">
                        {{ forloop.counter }}) {{ domanda.testo }}
                    </div>
                    <div class="col-2 punteggio">
                        [{{ domanda.punteggio }} pt.]
                    </div>
                    {% for risposta in domanda.risposte %}
                    <div class="row m-2 mt-3 mb-3" id="risposta_quiz">
                        <div class="col" risposta_numero="numeroRisposta">
                            <span id='opzione'><i class="fa-regular fa-circle"
                                    onclick="seleziona_risposta(this)"></i></span><span class="p-2">{{ risposta.testo }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="row mb-2 mt-5">
                    <div class="col-4 ml-2 d-flex justify-content-center">
                        <div class="pulsante d-inline-block" onclick="">
                            Riprova
                        </div>
                    </div>
                    <div class="col-4 ml-2 d-flex justify-content-center">
                        <div class="pulsante d-inline-block" onclick="">
                            Cancella
                        </div>
                    </div>
                    <div class="col-4 ml-2 d-flex justify-content-center">
                        <div class="pulsante d-inline-block" onclick="">
                            Invia
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include "elementiPrincipali/footer.html" %}
    </div>


</body>

</html>