{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "elementiPrincipali/impostazioni.html" %}
    <link rel="stylesheet" href={% static "css/stile-introduzione.css" %}>

    <title>QMAP</title>
</head>

<body>
    <div class="container-fluid">

        {% include "elementiPrincipali/header.html" %}
        {% include "elementiPrincipali/navigazione.html" %}

        {% comment %}! Intro {% endcomment %}

    
        <div class="row my-4">
            <p class="col-12 text-center intro">Programmazione WEB 2023/24: Progetto #1</p>
        </div>
        <div class="row">
            <div class="col-12 norm-text">Siamo <span class="evidenzia big">Benedetta Vitale</span> ed <span class="evidenzia big">Emilio Meroni</span>; il nostro gruppo è: <span class="evidenzia">bevm24web</span>.</div>
        </div>
        <div class="row mt-3">
            <div class="col-12 norm-text">Caratteristiche del nostro progetto:</div>
        </div>
        <div class="row ml-3 mt-3 d-flex justify-content-center">
            <div class="col-sm-9 norm-text caratteristiche p-3 ">
                Progetto: <span class="evidenzia">75</span> <br>
                DB di riferimento: <span class="evidenzia">Quiz (TE 03-07-2020)</span> <br>
                Tabella per CRUD: <span class="evidenzia">Quiz</span><br>
                Interfaccia: <span class="evidenzia">Interfaccia 2</span><br>
                Palette: <span class="evidenzia">Tortora</span>
            </div>
        </div>

        {% comment %}! Come muoversi nel nostro sito {% endcomment %}

        <div class="row m-3 mt-5">
            <div class="col-12 text-center intro small-intro">Come Muoversi nel Nostro Sito</div>
        </div>
        <div class="row">
            <div class="col-12 norm-text testo-icone">
                In alto a destra è <span class="evidenzia padding-lati">sempre</span> presente l'icona per la navigazione 
                <img src="https://quizmakeandplay.altervista.org/immagini/iconaMenu.png" class="iconaMenu-spiegazione padding-lati"> 
                che al click aprirà un menù da cui si potrà accedere a:
            </div>
        </div>
        <div class="row m-3">
            <div class="col-12 list-unstyled">
                {% comment %} todo {% endcomment %}
                <ul class="list-unstyled">
                    <li class="evidenzia big"><a href="/">Home</a></li>
                    <li class="evidenzia big mt-3"><a href="quiz">Quiz</a></li>
                    <li class="evidenzia big mt-3"><a href="utente">Utente</a></li>
                    <li class="evidenzia big mt-3"><a href="partecipazione">Partecipazione</a></li>
                    <li class="evidenzia big mt-3"><a tabindex="-1" href="#" onclick="gioca_quiz()"> Gioca</a></li>
                </ul>
            </div>
        </div>

        {% comment %}! Filtro Ricerca {% endcomment %}

        <div class="row m-3 mt-5">
            <div class="col-12 text-center intro small-intro">Filtro Ricerca</div>
        </div>
        <div class="row">
            <div class="col-12 norm-text">
                Come per il menù, anche il filtro ricerca sarà a <span class="evidenzia">scomparsa</span>, esso diventerà <span class="evidenzia">visibile</span> al click dell'icona<span class="iconaFiltro-spiegazione padding-lati"><i class="fa-solid fa-magnifying-glass"></i></span><br> 
                Questa scelta è dovuta a due principali motivi:
                <ol class="lista-ordinata mt-3">
                    <li class="mt-3 schiaccia"><span class="evidenzia">Posizione</span> del filtro: da richiesta il filtro deve essere a sinistra, ma all'allungarsi della tabella non era possibile disporlo con una posizione "absolute". Quando si scende nella pagina, il filtro rimane in alto fino a scomparire; quindi era necessario disporlo in modalità "fixed", cosa che graficamente non ci piaceva.</li>
                    <li class="mt-3 schiaccia mt-3">Le <span class="evidenzia">dimensioni</span>: l'obiettivo delle interfacce è di mostrare i dati, quindi le tabelle devono essere <span class="evidenzia">ben visibili</span>. Perciò un filtro "fisso" avrebbe occupato spazio utile per le tabelle.</li>
                </ol>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 norm-text">
                Le ricerche vengono eseguite in modalità <span class="evidenzia">like</span> (cerca tutti i testi che includono la porzione di testo), mentre per le ricerche sulle <span class="evidenzia">date</span> o sui valori <span class="evidenzia">numerici</span>, si hanno 3 opzioni:
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="mt-3"><span class="padding-lati icone-ricerca-data margin-contorno"><i class="fa-solid fa-backward"></i></span>Ricerca tutte le corrispondenze precedenti del valore specificato</div>
                <div class="mt-3"><span class="padding-lati icone-ricerca-data margin-contorno"><i class="fa-solid fa-arrows-to-circle"></i></span>Ricerca tutte le corrispondenze che sono uguali al valore specificato</div>
                <div class="mt-3"><span class="padding-lati icone-ricerca-data margin-contorno"><i class="fa-solid fa-forward"></i></span>Ricerca tutte le corrispondenze successive del valore specificato</div>
                <div class="mt-3 norm-text mt-3">Se non viene specificata nessuna opzione la ricerca viene <span class="evidenzia">ignorata</span>.</div>
            </div>
        </div>

        {% comment %}! UTENTE  {% endcomment %}

        <div class="row m-3 mt-5">
            <div class="col-12 text-center intro small-intro">Utente</div>
        </div>
        <div class="row">
            <div class="col-12 norm-text">
                In utente abbiamo ritenuto importante, oltre che i dati principali, visualizzare il numero dei <span class="evidenzia">quiz creati</span> e il numero dei <span class="evidenzia">quiz giocati</span>; entrambi sono linkati: se selezionati reindirizzano corrispettivamente all'interfaccia dei quiz creati dall'utente e all'interfaccia delle partecipazioni che ha effettuato l'utente.
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 norm-text">
                Per <span class="evidenzia big">creare un quiz</span>, dato che è una operazione dell'utente, bisogna cliccare sul <span class="evidenzia">nickname</span> e si aprirà una schermata per la creazione del quiz.
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 norm-text">
                Sui piccoli schermi si è optato per eliminare la colonna della <span class="evidenzia big">email</span>; per visualizzarla si dovrà andare sopra al nikname, e dopo qualche secondo, comparirà il valore dell'email.
            </div>
        </div>

        {% comment %} ! Quiz {% endcomment %}

        <div class="row m-3 mt-5">
            <div class="col-12 text-center small-intro intro">Quiz</div>
        </div>
        <div class="row">
            <div class="col-12 norm-text">
                Per le tabelle dei quiz abbiamo messo come colonne: "titolo", "creatore", "data inizio", "data fine", "N° di domande" e "N° di partecipanti".
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 norm-text">
                Per <span class="evidenzia big">visualizzare un quiz</span> bisogna cliccare sul titolo, dal quale si apre una nuova pagina, dove possiamo visualizzare le domande; ed eventualmente, <span class="evidenzia">modificare</span><i class="fa-regular fa-pen-to-square padding-lati" id="bottone-modifica-info"></i>o <span class="evidenzia">eliminare</span><i class="fa-regular fa-trash-can padding-lati" id="bottone-elimina-info"></i>il quiz.
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 norm-text">
                Se si clicca sul nome utente, invece, si verrà reindirizzati nella pagina <span class="evidenzia">utenti</span> con lo specifico utente. <br>
                Infine, al click del numero di partecipanti si verrà portati in una pagina che visualizza tutte le partecipazioni di quel quiz.
            </div>
        </div>

        {% comment %} ! Partecipazione {% endcomment %}

        <div class="row m-3 mt-5">
            <div class="col-12 text-center intro small-intro">Partecipazione</div>
        </div>
        <div class="row">
            <div class="col-12 norm-text">
                Nella pagina partecipazioni visualizzeremo: il nickname del partecipante, il titolo del quiz, la data di partecipazione e le risposte date <br>
                Come specificato in precedenza il <span class="evidenzia">nickname</span> e il <span class="evidenzia">titolo del quiz</span> saranno linkati.
            </div>
        </div>

        {% comment %}  ! Gioca {% endcomment %}

        <div class="row m-3 mt-5">
            <div class="col-12 text-center intro small-intro">Gioca</div>
        </div>
        <div class="row">
            <div class="col-12 norm-text">
                Per finire è presente la sezione <span class="evidenzia big">gioca</span> la quale, se cliccata, selezionerà automaticamente un quiz a caso tra tutti quelli presenti; da la possibilità di rispondere alle domande e verificare le risposte. <br>Al click del pulsante invio la partecipazione verrà <span class="evidenzia">inserita</span> all'interno del <span class="evidenzia">database</span>.
            </div>
        </div>
    

        {% comment %} {% include "elementiPrincipali/navigazione.html" %} {% endcomment %}

        {% include "elementiPrincipali/footer.html" %}
        

    </div>
</body>

</html>
