{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% include "elementiPrincipali/impostazioni.html" %}

    <title>QMAP</title>
</head>

<body>

    <div class="container-fluid">
        {% include "elementiPrincipali/header.html" %}

        {% comment %} ! Filtro Ricerca {% endcomment %}

        {% include "elementiPrincipali/navigazione.html" %}

        {% include filtro.directory %}

        {% comment %} ! Dove siamo {% endcomment %}
        <div class="row">
            <div class="col-2">
                <div class="dove_siamo">{{infoPagina.directory}}</div>
            </div>
            <div class="col mx-auto mt-2">
                <p class="infoRigheTabella">
                    {{risultati.frasiRicerca.info}}
                </p>
            </div>
            <div class="col-2">
            </div>
        </div>
        
        

        {% comment %} ! Risultati {% endcomment %}

        <div class="row  min-vh-100">
            {% if risultati.numeroRighe > 0 %}
            <div class="col-md-10 col-xs-12 mx-auto">

                <table class="table table-striped table-hover tabellaRisultati">
                    <thead class= "text-center">
                        <tr>
                        {% for cella in risultati.listaIntestazioni %}
                            <th
                            {% for chiave , valore in  cella.impostazioni.items %}
                                    {{chiave}} = '{{valore}}'
                            {% endfor %}>
                                {{cella.valore}}
                            </th>
                        {% endfor %}
                            
                        </tr>
                </thead>
                <tbody>

                {%for riga in risultati.valori %}
                    <tr>
                    {% for cella in riga %}
                        <td 
                        {% for chiave , valore in cella.impostazioni.items %}
                            {{chiave}}='{{valore}}'
                        {% endfor %}>
                            {{cella.valore}}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% include "elementiPrincipali/footer.html" %}
    </div>


    {% if infoPagina.nomePagina == "Utente" %}
    
        {% include "elementiPrincipali/modalCreaQuiz.html" %}

    {% endif %}
</body>

</html>