<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% include "elementiPrincipali/impostazioni.html" %}

    <title>QMAP</title>
</head>

<body>

    <div class="container-fluid">
        {% include "elementiPrincipali/header.html" %}

        {% comment %} ! Filtro Ricerca {% endcomment %}

        {% include "elementiPrincipali/navigazione.html" %}

        {% include "filtri/filtroQuiz.html" %}

        {% comment %} ! Dove siamo {% endcomment %}
        <div class="row">
            <div class="col-2">
                <div class="dove_siamo">Quiz</div>
            </div>

            <div class="col-4 mx-auto">
                <p class="infoRigheTabella">
                {% if risultati.numeroRighe == 1 %}
                    È stato trovato un solo quiz
                {% elif risultati.numeroRighe > 1 %}
                    Sono stati trovati {{risultati.numeroRighe}} quiz
                {% else %}
                    Nessun quiz trovato
                {% endif %}
                </p>
            </div>
            <div class="col-2">
            </div>

        </div>
        
        

        {% comment %} ! Risultati {% endcomment %}

        {% comment %} todo {% if risultati.numeroRighe > 0 %} {% endcomment %}
        <div class="row  min-vh-100">
            <div class="col-md-10 col-xs-12 mx-auto">

                <table class="table table-striped table-hover tabellaRisultati">
                    <thead class= "text-center"><tr>
                        <th>Titolo</th>
                        <th>Autore</th>
                        <th>Data Inizio</th>
                        <th>Data Fine</th>
                        <th>N° di <br>
                            Domande</th>
                        <th>N° di<br>
                            Partecipanti</th>
                    </tr>
                </thead>
                <tbody>

                {%for record in risultati.valori %}
                    <tr>
                        <td>{{record.titolo}}</td>
                        <td class = "text-center">{{record.autore}}</td>
                        <td class = "text-center">{{record.dataInizio}}</td>
                        <td class = "text-center">{{record.dataFine}}</td>
                        <td class = "text-center">{{record.nDomande}}</td>
                        <td class = "text-center">{{record.nPartecipazioni}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                {% comment %} <?php
                $codice = "";
                // Prelievo i dati dai campi
                if ($_SERVER["REQUEST_METHOD"] == "GET") {
                    $creatore = $_GET["creatore"];
                    $titolo = $_GET["titolo"];
                    $data_inizio = $_GET["data_inizio"];
                    $data_fine = $_GET["data_fine"];
                    $like =  $_GET["like"] == "false" ? FALSE : TRUE;
                    if (isset($_GET["codice"])) {
                        $codice  = $_GET["codice"];
                    }
                    $quale_data_inizio = $_GET["quale_data_inizio"];
                    $quale_data_fine = $_GET["quale_data_fine"];
                    $domande = $_GET["domande"];
                    $quali_domande = $_GET["quali_domande"];
                    $partecipazioni = $_GET["partecipazioni"];
                    $quali_partecipazioni = $_GET["quali_partecipazioni"];
                }
                // echo $quale_data_inizio . "   " . $quale_data_fine . " ";

                $risultato_query = query_quiz($codice, $creatore, $titolo, $data_inizio, $data_fine, $like, $quale_data_inizio, $quale_data_fine , $domande , $quali_domande , $partecipazioni , $quali_partecipazioni);
                $risultato = (array) json_decode($risultato_query);
                $n_righe = count($risultato);
                if ($n_righe == 0) {
                    echo "<h1>Non è stato trovato nessun quiz</h1>";
                } else {
                    echo $n_righe == 1 ? ("<h1>Ho trovato solo $n_righe quiz</h1>") : ("<h1>Sono stati trovati $n_righe quiz</h1>");

                ?> {% endcomment %}


                
                {% comment %} <tbody>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>
                    <tr>
                        <td>TITOLOENE DI UN FILM QUANCHE COSA</td>
                        <td class="text-center">CIAOSONO99IO</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">2050/15/95</td>
                        <td class="text-center">1562</td>
                        <td class="text-center">1958</td>
                    </tr>

                    
                </tbody> {% endcomment %}


                {% comment %} <?php

                $centra_testo = "class = 'TD_centra'";
                // creo un attributo per gli elementi che contengono onclik (per css)
                $onclick = " implementa='onclick'";
                // altre cose per css
                $niente = " implementa='niente'";
                foreach ($risultato as $riga) {
                    $riga = (array)$riga;
                    echo ("<tr $clsse>
                    <td id-quiz = '$riga[codice]' onclick = 'clickTitoloQUIZ(this)' $onclick>" . $riga['titolo'] . "</td>
                    <td onclick = 'clickCreatoreQUIZ(this)' $onclick>" . $riga['creatore'] . "</td>
                    <td $centra_testo $niente>" . $riga['data_inizio'] . "</td>
                    <td $centra_testo $niente>" . $riga['data_fine'] . "</td>
                    <td $centra_testo $niente>" . $riga['domande'] . "</td>
                    <td $centra_testo onclick = 'clickPartecipantiQUIZ(this)' id-quiz = '" . $riga["codice"] . "' $onclick>" . $riga['partecipazioni'] . "</td>
                    </tr>");
                }
            }
                ?> {% endcomment %}
                </table>
            </div>
        </div>
        {% comment %}todo {% endif %} {% endcomment %}
        {% comment %} <?php include 'elementiPrincipali/navigazione.html' ?> {% endcomment %}

        {% include "elementiPrincipali/footer.html" %}
    </div>
</body>

</html>