:root {
    --main-colour: #8A786F;
    --base: #D0C5BE;

    /* Sfumatura più chiara */
    --t-1: #E8DFDA;
    --t-2: #D0C5BE;
    --t-3: #B8A9A1;
    --t-4: #A09189;
    --t-5: #8A786F;
    --t-6: #725E55;
    --t-7: #5A443C;
    /* Sfumatura più scura */

    /* Sfumature più chiare */
    --ct-1: #bfb4a7;
    --ct-2: #b2a495;
    --ct-3: #a59583;
    --ct-4: #998671;
    --ct-5: #8c7760;


    /*contrasti */
    --contrasti-base: #C5D0CF;
    --contrasti-1:#3E4754;

    --transizione: .3s;
}


html{
    min-width: 700px;

}
/* impostazioni generali */
body {
    background-color: var(--base);
    font-family: "Roboto Mono", monospace;
    overflow-x: hidden;
    scrollbar-width: thin;
}


.maschera{
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.maschera_on{
    z-index: 80;
    background-color: rgba(0, 0, 0, 0.15);
}

/* Body */
.menuOpen{
    height: 100%;
    overflow-y: hidden;
}


a {
    text-decoration: none;
    color: black;
}


/* Header */
.header {
    background-color: var(--main-colour);
    display: flex;
    color: var(--t-3);
}

/* Logo Header */
.logoApp {
    margin: 10px 20px 10px 20px;
    max-height: 80px;
}

/* Contenuto */

.contenuto {
    display: flex;
    flex-wrap: nowrap;
    min-height: 500px;
}

.filtroRicerca {
    /* transform: translateX(-100%);     */
}



/* Risultati */

.risultati {
    display: inline;
    width: 100%;
}

.risultati>h1{
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.tabellaRisultati{
    margin: 20px 0 20px 0;
    /* background-color: ; */
}

.tabellaRisultati th{
    vertical-align: middle;
    border-left: 2px solid var(--base);
    background-color: var(--contrasti-1);
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    color: white;
}

.tabellaRisultati tr{
    height: 50px;
    border-bottom: 1px solid var(--ct-1);
}

.tabellaRisultati td{
    vertical-align: middle;
    color: var(--contrasti-1);
    padding: 5px;
    margin: 5px;
}

.TD_titolo{
    color: var(--contrasti-1);
    font-weight: 800;
}


.TD_centra{
    text-align: center;
}




/* Navigazione */

.navbar {
    padding: 5px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
    cursor: pointer;
    transition:var(--transizione);
    transform: rotate(0turn);

}

.iconaMenu{
    max-width: 30px;
}

.navbar_rotate{
    transform: rotate(0.5turn);
}

.iconbar {
    display: block;
    width: 22px;
    height: 3px;
    margin: 4px;
    background-color: black;
}

.nav {
    background-color: #BEBEBE;
    position: fixed;
    width: 30%;
    translate: -100%;
    height: 100dvh;
    top: 0;
    right: 0;
    z-index: 90;
    transition:var(--transizione);
    transform: translateX(203%);
}

.wide {
    transform: translateX(125%);
}

#listaNav {
    margin-top: 95px;
}

#listaNav>a>li{
    padding: 20px 40px;
    font-size: 20px;
    transition: 0.2s;

    /* background-color: #5A443C; */
    /* margin: 20px 0 10px 0; */
}

#listaNav>a:hover>li{
    font-size: 30px;
    background-color: #B8A9A1;
}

#listaNav a .cliccato,
#listaNav a .cliccato:hover {
    background-color: var(--t-7);
}



/* Footer */

.footer {
    background-color: var(--main-colour);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tabellaAutori {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 100px;
}

.tabellaAutori th {
    font-weight: bold;
}

.tabellaAutori th,
.tabellaAutori td {
    padding: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.logoUniBg {
    margin: 5px 10px 5px 10px;
    max-height: 80px;
}