<!-- Questo è il mio header -->
<div class="header row p-2">
    
    <div class="col-lg-1 col-md-1 col-sm-12 d-flex justify-content-center align-items-center">
        <div id="logo">
            <a href="https://quizmakeandplay.altervista.org/index.php"><img class="logoApp" src="https://quizmakeandplay.altervista.org/logo/download-nobackground.png" alt="non caricaa!!!"></a>
        </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 text-center">
        <div class="titolo_header">
            <p class="mb-1">QUIZ</p>
            <p>Make and Play</p>
        </div>
    </div>
    

    <div class="col-lg-1 col-md-1 col-sm-12 d-flex justify-content-center align-items-center">
        <div class="navbar">
            <img src="https://quizmakeandplay.altervista.org/immagini/iconaMenu.png" class="iconaMenu">
        </div>
    </div>

    
    
    
</div>