{% load static %}

<div class="header row p-2">

  <div class="col-md-1 d-flex justify-content-center align-items-center ml-1">
    <div id="logo">
      <a href="/"><img class="logoApp"
          src={% static "immagini/logoQMAP.png" %} alt="non caricaa!!!"></a>
    </div>
  </div>

  <div class="col-md-10 mx-auto">
    <div class="titolo_header">
      <p>QUIZ</p>
      <p>Make and Play</p>
    </div>
  </div>

  
  <div class="btn d-md-none col-6 iconaRicercaHeader" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFiltro"
    aria-controls="offcanvasFiltro">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="col-6 col-md-1 d-flex justify-content-center align-items-center">
    <div class="navbar btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
      aria-controls="offcanvasMenu">
      <img src={% static "immagini/iconaMenu.png" %} class="iconaMenu">
    </div>
  </div>

</div>