<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <h3 id="offcanvasMenuLabel">Menu</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul id="listaNav">
            <a class="s_text" tabindex="-1" href="/" data-toggle="tooltip" title="Torna alla Home">
                <li>Home</li>
            </a>
            <a class="s_text" tabindex="-1" href="quiz" data-toggle="tooltip" title="Quiz">
                <li>Quiz</li>
            </a>
            <a class="s_text" tabindex="-1" href="utente" data-toggle="tooltip" title="Utenti">
                <li>Utente</li>
            </a>
            <a class="s_text" tabindex="-1" href="partecipazione" data-toggle="tooltip" title="Partecipazioni">
                <li>Partecipazione</li>
            </a>
            <a class="s_text" tabindex="-1" href="gioca" data-toggle="tooltip" title="Gioca a un quiz!!">
                <li>Gioca</li>
            </a>
            </\ul>
    </div>
</div>