<nav class="nav">
    <ul id="listaNav">
        <a class="s_text" tabindex="-1" href="https://quizmakeandplay.altervista.org/index.php"><li>Home</li></a>
        <a class="s_text" tabindex="-1" href="https://quizmakeandplay.altervista.org/quiz.php"><li>Quiz</li></a>
        <a class="s_text" tabindex="-1" href="https://quizmakeandplay.altervista.org/utente.php"><li>Utente</li></a>
        <a class="s_text" tabindex="-1" href="https://quizmakeandplay.altervista.org/partecipazione.php"><li>Partecipazione</li></a>
        <a class="s_text" tabindex="-1" href="#" onclick="gioca_quiz()"><li>Gioca</li></a>
    </\ul>
</nav>