<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasMenuLabel">Diversi Siti {{contesto.nomePagina}}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul id="listaNav">
            <a class="s_text" tabindex="-1" href="/">
                <li>Home</li>
            </a>
            <a class="s_text" tabindex="-1" href="quiz">
                <li>Quiz</li>
            </a>
            <a class="s_text" tabindex="-1" href="https://quizmakeandplay.altervista.org/utente.php">
                <li>Utente</li>
            </a>
            <a class="s_text" tabindex="-1" href="https://quizmakeandplay.altervista.org/partecipazione.php">
                <li>Partecipazione</li>
            </a>
            <a class="s_text" tabindex="-1" href="#" onclick="gioca_quiz()">
                <li>Gioca</li>
            </a>
            </\ul>
    </div>
</div>