<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFiltro" aria-labelledby="offcanvasFiltroLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasFiltroLabel">Filtro Ricerca {{infoPagina.nomePagina}}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="form_ricerca" action="#" method="get">
            {% comment %} ! Nickname {% endcomment %}
            <div class="form-row">
                <div class="input-data">
                    <input type="text" id="Nickname" name="Nickname" placeholder=" " spellcheck="false"
                        value={{filtro.Nickname}}><!--IMPORTANTE NON TOGLIERE IL PLACEHOLDER CON LO SPAZIO -->
                    <div class="underline"></div>
                    <label for="">Nickname</label>
                </div>
            </div>
            {% comment %} ! Nome {% endcomment %}
            <div class="form-row">
                <div class="input-data">
                    <input type="text" id="nome" name="nome" placeholder=" " spellcheck="false"
                        value={{filtro.nome}}><!--IMPORTANTE NON TOGLIERE IL PLACEHOLDER CON LO SPAZIO -->
                    <div class="underline"></div>
                    <label for="">Nome</label>
                </div>
            </div>
            {% comment %} ! Cognome {% endcomment %}
            <div class="form-row">
                <div class="input-data">
                    <input type="text" id="cognome" name="cognome" placeholder=" " spellcheck="false"
                        value={{filtro.cognome}}><!--IMPORTANTE NON TOGLIERE IL PLACEHOLDER CON LO SPAZIO -->
                    <div class="underline"></div>
                    <label for="">Cognome</label>
                </div>
            </div>
            {% comment %} ! Email {% endcomment %}
            <div class="form-row">
                <div class="input-data">
                    <input type="text" id="email" name="email" placeholder=" "
                        value={{filtro.email}}><!--IMPORTANTE NON TOGLIERE IL PLACEHOLDER CON LO SPAZIO -->
                    <div class="underline"></div>
                    <label for="">E-Mail</label>
                </div>
            </div>
            {% comment %} ! Numero QUIZ creati {% endcomment %}
            <div class="form-row">
                <div class="input-data">
                    <input type="number" id="nQcreati" name="nQcreati" placeholder=" "
                    {% if filtro.isSet_nQcreati %}
                        value={{filtro.nQcreati}}
                    {% endif %}><!--IMPORTANTE NON TOGLIERE IL PLACEHOLDER CON LO SPAZIO -->
                    <div class="underline"></div>
                    <label for="">N° Quiz Creati</label>
                </div>
            </div>
            <div class="radio-button">
                <div onclick="clickRadio(this)" value="1" name="quale_nQcreati" id="quale_nQcreati_prima_icona" class='{% if filtro.radio_quale_nQcreati == "1" %}selected-radio{% endif %}' data-toggle="tooltip" title="Inferiore">
                    <i class="fa-solid fa-backward"></i>
                </div>
                <div onclick="clickRadio(this)" value="2" name="quale_nQcreati" id="quale_nQcreati_uguale_icona" class='{% if filtro.radio_quale_nQcreati == "2" %}selected-radio{% endif %}' data-toggle="tooltip" title="Uguale">
                    <i class="fa-solid fa-arrows-to-circle"></i>
                </div>
                <div onclick="clickRadio(this)" value="3" name="quale_nQcreati" id="quale_nQcreati_dopo_icona" class='{% if filtro.radio_quale_nQcreati == "3" %}selected-radio{% endif %}' data-toggle="tooltip" title="Superiore">
                    <i class="fa-solid fa-forward"></i>
                </div>
            </div>
            {% comment %} ! numero QUIZ giocati {% endcomment %}
            <div class="form-row">
                <div class="input-data">
                    <input type="number" id="nQgiocati" name="nQgiocati" placeholder=" "
                    {% if filtro.nQgiocati %}
                    value={{filtro.nQgiocati}}
                    {% endif %}><!--IMPORTANTE NON TOGLIERE IL PLACEHOLDER CON LO SPAZIO -->
                    <div class="underline"></div>
                    <label for="">N° Quzi Giocati</label>
                </div>
            </div>
            <div class="radio-button">
                <div onclick="clickRadio(this)" value="1" name="nQgiocati" id="nQgiocati_prima_icona" class='{% if filtro.radio_nQgiocati == "1" %}selected-radio{% endif %}' data-toggle="tooltip" title="Inferiore">
                    <i class="fa-solid fa-backward"></i>
                </div>
                <div onclick="clickRadio(this)" value="2" name="nQgiocati" id="nQgiocati_uguale_icona" class='{% if filtro.radio_nQgiocati == "2" %}selected-radio{% endif %}' data-toggle="tooltip" title="Uguale">
                    <i class="fa-solid fa-arrows-to-circle"></i>
                </div>
                <div onclick="clickRadio(this)" value="3" name="nQgiocati" id="nQgiocati_dopo_icona" class='{% if filtro.radio_nQgiocati == "3" %}selected-radio{% endif %}' data-toggle="tooltip" title="Superiore">
                    <i class="fa-solid fa-forward"></i>
                </div>
            </div>
            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="Cerca" data-toggle="tooltip" title="Effettua la Ricerca">
                </div>
            </div>
            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="button" value="Annulla" onclick="resetRicerca()" data-toggle="tooltip" title="Reset della Ricerca">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="btn iconaRicerca d-none d-md-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFiltro" aria-controls="offcanvasFiltro">
    <i class="fa-solid fa-magnifying-glass" data-toggle="tooltip" title="Filtro"></i>
</div>